
body{
    color: rgba(255, 255, 255);
    background-image: url(https://images.pexels.com/photos/997443/pexels-photo-997443.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-size: cover;
      
    max-width: 1000px;
    margin: auto;
    padding-bottom: 20px;
     
    
    
}
.head{
    padding: 50px;
    text-align: center;
    background-image: linear-gradient(to right, #000000, #434343);
    color: white; 
    font-size: large;
}

.links{
    display: flex;
    background-image: linear-gradient(to right, #000000, #434343);
}

.links a{
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: x-large;
    color: white;
}

.links a:hover{
    background-color: grey;
}

.about{
    text-align: center;
}

.row{
    display: flex;
    flex-wrap: wrap;
    padding-left: 5%;
    padding-right: 5%;
    font-size: x-large;
}

.main{
    flex: 60%;
}

.pics{
    flex: 40%;
}

img{
    width: 100%;
    height: auto;
    max-width: 600px;
}

figcaption{
    font-size: medium;
}


 .footer{
     text-align: center;
     text-decoration: none;
     font-size: large;
 }
 a{
     text-decoration: none;
     color: rgb(255, 255, 255);
 }

 a:hover{
     color: blue;
 }
 .about{
     flex: 100%;
     color: rgba(255, 255, 255);
     font-size: x-large;
 }

 @media screen and (max-width: 700px) {
    .row, .links, .pics {   
      flex-direction: column;
      font-size: large;
    }    
    .footer{
        font-size: medium;
    }
    .about{
        font-size: large;
    }
}


