body{
    padding: 14px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-image: url("background.jpg");
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 100px 25px repeat(5, 1fr);
    max-width: 750px;
    margin: auto;
}


.grid-item{
    border: 1px solid rgba(0, 0, 0, 0.8);
    overflow: hidden;
}

#month{
    grid-column-start: 1;
    grid-column-end: 8;
    text-align: center;
    padding: 20px;
    font-size: xx-large;
}


#days{
    border-bottom: 2px solid black;
}


.otherMonths{
    background-color: rgba(112, 128, 144, 0.336);
    
}

.martin{
    background-image: url("martin.jpg");
    background-position: center;
    background-size: cover;
    color: rgb(255, 255, 255);
}

.newYears{

    background-image: url("NY.jpg");
    background-position: center;
    background-size: cover;
    color: rgb(255, 255, 255);

}

.Eve{

    background-image: url("NYE.jpg");
    background-position: center;
    background-size: cover;
    color: rgb(255, 255, 255);

}

.elvis{
    background-image: url("elvis.jpg");
    background-position: center;
    background-size: cover;
    color: rgb(39, 21, 21);
}

.Michelle{
    background-image: url(" Michelle.jpg");
    background-position: center;
    background-size: cover;
    color: rgb(255, 255, 255);
   
}

.Peanut{
    background-image: url("Peanut.jpg");
    background-position: center;
    background-size: cover;
    color: rgb(0, 0, 0);
}

.spaghetti{
    background-image: url("spaghetti.jpg");
    background-position: center;
    background-size: cover;
    color: rgb(0, 0, 0);
}

.leggo{
    background-image: url("leggo.jpg");
    background-position: center;
    background-size: cover;
    color: rgb(0, 0, 0);
}

.Croissant{
    background-image: url("Croissant.jpg");
    background-position: center;
    background-size: cover;
    color: rgb(0, 0, 0);
}

.Popcorn{
    background-image: url("popcorn.jpg");
    background-position: center;
    background-size: cover;
    color: rgb(0, 0, 0);
}