
body{
    background-color: rgba(17, 0, 255, 0.048);
    max-width: 1000px;
    margin: auto;
    padding-bottom: 20px;
}
#header{
    padding: 50px;
    text-align: center;
    background-image: linear-gradient(rgb(43, 117, 255), rgb(63, 54, 184));
    color: white; 
    font-size: xx-large;
}



#row{
    display: flex;
    flex-wrap: wrap;

    font-size: x-large;
}

#pic{
    flex: 60%;
}

.about{
    flex: 40%;
}

img{
    width: 100%;
    height: auto;
    max-width: 600px;
}


