table, td{
    border: 1px solid black;
    border-collapse: collapse;
}

body{
    padding: 14px;
    /* min-height: 100%; */
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-image: url("background.jpg");
}

table{
    
    width: 100%;
    height: 700px; 
    /* margin: 20px fixed; */
    table-layout: fixed;
    background-color: rgba(245, 245, 220, 0.397);

    
}

.row{
    height: 70px;
}







.days{
     text-align: left; 
     height: 10px;
}  



#month{
    text-align: center;
    font-size: xx-large;
}





.otherMonths{
    background-color: rgba(112, 128, 144, 0.336);
    
}

.martin{
    background-image: url("martin.jpg");
    background-position: center;
    background-size: cover;
    color: rgb(255, 255, 255);
}

.newYears{

    background-image: url("NY.jpg");
    background-position: center;
    background-size: cover;
    color: rgb(255, 255, 255);

}

.Eve{

    background-image: url("NYE.jpg");
    background-position: center;
    background-size: cover;
    color: rgb(255, 255, 255);

}

.elvis{
    background-image: url("elvis.jpg");
    background-position: center;
    background-size: cover;
    color: rgb(39, 21, 21);
}

.Michelle{
    background-image: url(" Michelle.jpg");
    background-position: center;
    background-size: cover;
    color: rgb(255, 255, 255);
   
}

.Peanut{
    background-image: url("Peanut.jpg");
    background-position: center;
    background-size: cover;
    color: rgb(0, 0, 0);
}

.spaghetti{
    background-image: url("spaghetti.jpg");
    background-position: center;
    background-size: cover;
    color: rgb(0, 0, 0);
}

.leggo{
    background-image: url("leggo.jpg");
    background-position: center;
    background-size: cover;
    color: rgb(0, 0, 0);
}

.Croissant{
    background-image: url("Croissant.jpg");
    background-position: center;
    background-size: cover;
    color: rgb(0, 0, 0);
}

.Popcorn{
    background-image: url("popcorn.jpg");
    background-position: center;
    background-size: cover;
    color: rgb(0, 0, 0);
}