h1{
    text-align: center;
    background-color: rgb(140, 140, 228);
}

button{
    font-size: large;
    margin: 10px;
}

#people{
    display: flex;
    
}

body{
    width: 90%;
    margin: auto;
    max-width: 900px;
}

html{
    background-image: linear-gradient(rgba(49, 49, 250, 0.589), rgb(177, 174, 174));
    height: 100%;
}

button{
    padding: 10px;
    background: none;
}

button:hover{
    background: blue;
    color: white;
}